process {

    executor = 'slurm'
    errorStrategy = 'retry'
    maxRetries = 2
    
    withName: FASTQC_RAW {
        cpus = 2
        memory = '8 GB'
        time = '24h'
        module = 'FastQC/0.12.1'
    }

    withName: CUTADAPT {
        cpus = 6
        memory = '8 GB'
        time = '24h'
        beforeScript = '''
        export PATH=$HOME/.local/bin:$PATH
        '''
    }

    withName: FASTQC_TRIMMED {
        cpus = 2
        memory = '8 GB'
        time = '24h'
        module = 'FastQC/0.12.1'
    }

    withName: CONCAT {
        cpus = 1
        memory = '2 GB'
        time = '24h'
    }

    withName: HISAT2_BUILD {
        cpus = 8
        memory = '32 GB'
        time = '24h'
        module = 'hisat2/2.2.1'
    }

    withName: BOWTIE2_BUILD {
        cpus = 8
        memory = '32 GB'
        time = '24h'
        module = 'bowtie2/2.5.4'
    }

    withName: HISAT2_ALIGN {
        cpus = 12
        memory = '48 GB'
        time = '24h'
        module = 'hisat2/2.2.1 samtools/1.18'
    }

    withName: BOWTIE2_ALIGN {
        cpus = 12
        memory = '48 GB'
        time = '24h'
        module = 'bowtie2/2.5.4 samtools/1.18'
    }

    withName: FEATURECOUNTS_HISAT2 {
        cpus = 6
        memory = '24 GB'
        time = '24h'
        module = 'subread/1.6.2'
    }

    withName: FEATURECOUNTS_BOWTIE2 {
        cpus = 6
        memory = '24 GB'
        time = '24h'
        module = 'subread/1.6.2'
    }

    withName: MULTIQC {
        cpus = 2
        memory = '8 GB'
        time = '24h'
        beforeScript = '''
        export PATH=$HOME/.local/bin:$PATH
        '''
    }
}

timeline {
    enabled = true
    file = "${params.outdir}/timeline.html"
}

report {
    enabled = true
    file = "${params.outdir}/report.html"
}

trace {
    enabled = true
    file = "${params.outdir}/trace.txt"
}

dag {
    enabled = true
    file = "${params.outdir}/pipeline_dag.html"
}
